.line {
	width: 8px;
	background-color: white;
	border-radius: 5px;
	margin: 0 1px;
}

.outerDiv {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.outerBtn {
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	overflow: auto;
	margin: 1.5rem 0.7rem auto;
}

.outerBtn ::-webkit-scrollbar {
	display: none;
}

.button {
	border: none;
	background-color: black;
	color: white;
	width: 10rem;
	height: 3rem;
	border-radius: 7px;
	box-shadow: gray;
	margin: auto 1rem;
	border: solid red 0.5px;
}

.button:hover {
	background-color: white;
	color: black;
}

.range {
	margin: 0.1rem 0.3rem auto;
}
